body {
    color: rgb(255, 255, 255);
    background: #ffffff url("https://previews.123rf.com/images/tom19275/tom192751611/tom19275161100217/65760099-textura-del-neum%C3%A1tico-del-coche.jpg") no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'open sans', sans-serif;
}

container-from {
    width: 100%;
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
    margin-top: 90px;
}

container-fromh2 {
    margin-bottom: 15px;
    font-size: 35px;
}

container-fromp {
    font-size: 17px;
    line-height: 1.6;
    margin-bottom: 30px;
}

container-froma {
    font-size: 17px;
    display: inline-block;
    text-decoration: none;
    width: 100%;
    margin-bottom: 15px;
    font-weight: 700;
}

.menu h2 {
    color: rgb(235, 227, 227);
    background-color: #373535;
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    border-color: #fdfdfd;
    text-align: justify;
    font-size: 30px;
}

body .cabecera h1 {
    font-family: 'Lucida Grande', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
    font-size: 50px;
}

.cabecera h2 {
    color: rgb(235, 227, 227);
    background-color: #040000;
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    border-color: #f1f1f1;
    text-align: justify;
    font-size: 30px;
}

.cabecera h3 {
    color: rgb(255, 255, 255);
    background-color: #040109;
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    border-color: #f3eded;
    text-align: justify;
    font-size: 15px;

}

footer {
    background-color: rgb(3, 6, 1);

}